# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log

# OS files
.DS_Store

# TypeScript
*.tsbuildinfo

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
